# dependencies
node_modules

# pnpm
.pnpm-store

# build outputs
dist
build
coverage

# turbo
.turbo

# env files
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# vscode
.vscode

# idea
.idea

# temporary files
*.tmp
*.temp

# TypeScript
*.tsbuildinfo